#google{
    background-color: rgb(30, 7, 49);
    color: bisque;
    text-align: center;
    font-weight: 800;
}
#ankit{
    background-color: rgb(30,7,49);
    color:rgb(211, 17, 117);
    text-align: center;
    font-weight: 800;
}
#akshay{
    background-color: rgb(30,7,49);
    text-align: center;
    font-weight: 800;
    color: rgb(211, 17, 117);
}
#madhavi{
    background-color: rgb(30,7,49);
    text-align: center;
    font-weight: 800;
    color: rgb(211, 17, 117);
}
#sobhit{
    background-color: rgb(30,7,49);
    text-align: center;
    font-weight: 800;
    color: rgb(211, 17, 117);
}
ul{
    background-color: rgb(144, 57, 133);
    font-weight: 800;
    color: rgb(227, 210, 189);
}
#basic{
    background-color: rgb(30,7,49);
    font-weight: 800;
    color: rgb(227, 210, 189);
    text-align: center;
}
#group{
    background-color: rgb(144, 57, 133);

}
#ANAND{
    background-color: whitesmoke ;
    width: 200px;
    height: 230sspx;
    border: 10px solid rgb(56, 115, 142);
    color: black;
    text-align: center;
    padding: 10px;
}
#kumar{
    background-color: whitesmoke ;
    width: 200px;
    height: 230sspx;
    border: 10px solid rgb(56, 115, 142);
    color: black;
    text-align: center;
    padding: 10px;
}
#sangam{
    background-color: whitesmoke ;
    width: 200px;
    height: 230sspx;
    border: 10px solid rgb(56, 115, 142);
    color: black;
    text-align: center;
    padding: 10px;
}
#pal{
    background-color: whitesmoke ;
    width: 200px;
    height: 230sspx;
    border: 10px solid rgb(56, 115, 142);
    color: black;
    text-align: center;
    padding: 10px;
}
#ak{
    border: 10px solid black;
    width: 300px;
    height: 200px ;
}